<div class="myContainer container mt-5 mb-8">
	<div class="row">
		<div class="about col-sm-12 col-md-8 ml-auto mr-auto mb-4 bg-light">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="mt-4">About Me</h2><!--Heading-->
					<hr style="height: 1px; background: rgba(0,0,0,0.1);">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" >
					<div class="">
						<img src="/assets/img/me.jpg" id="myImg" class="img mr-4 mb-2">
					</div>
					{{#each bio }}<p class="text-md" >{{{ this }}}</p>{{/each }}	
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 mt-1" >
					<div class="linksContainer">
						<h5>Follow me</h5>
						<a href="https://github.com/DefiledSpec"><i class="links fab fa-github"></i></a>
						<a href="https://www.linkedin.com/in/jesse-harrah/"><i class="links fab fa-linkedin-in"></i></a>
						<a href="https://stackoverflow.com/users/9701111/defiled-spec"><i class="links fab fa-stack-overflow"></i></a>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-6 col-md-3 offset-md-3 mr-auto ml-auto">
			<div class="card">
				<div class="card-header">My Projects</div>
				<ul class="list-group list-group-flush text-center">
				{{#each items }}
					<li class="list-group-item">
						<a href="{{#if hasSite}}{{ link }}{{ else }}{{ github }}{{/if }}">{{ name }}</a>
					</li>	
				{{/each }}
				</ul>
			</div>
		</div>
	</div><!--End of main row-->
</div><!-- end of myContainer -->
